extends base.pug
include mixins/video.pug

block content 
    form(method="get")
        input(placeholder="search by title", type="text", name="keyword")
        input(type="submit", value="search now")

    div
        each video in videos 
            +video(video)